export IDF_PATH="$HOME/esp-idf"

# force add idf.py into PATH even if export.sh didn't
PATH_add "$IDF_PATH/tools"

# then let esp-idf export configure the rest (python env, tools)
source "$IDF_PATH/export.sh" >/dev/null 2>&1 || true